# Dynamic image tags
.tags.env

.workspace

# IntelliJ IDEA files
.idea/
*.iml
/.project

build/


mocks/wiremock/__files/organisationUsers.json
mocks/wiremock/mappings/user-by-email/*
mocks/wiremock/mappings/prd/org-by-email/*
